<header class="header">
    <div class="container">
        <nav class="header__nav">
            <a href="#!" class="header__logo">Trevland</a>

            <ul class="header__list">
                <li class="header__item">
                    <a href="#!" class="header__link hvr-overline-from-left">Home</a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link hvr-overline-from-left">Location</a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link hvr-overline-from-left">Blog</a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link hvr-overline-from-left">About</a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link hvr-overline-from-left">Contact</a>
                </li>
            </ul>

            <a href="#!" class="header__button btn">Booking now</a>
        </nav>
    </div>
</header>
