<header class="header">
    <div class="container">
        <nav class="header__nav">
            <a href="" class="header__logo hvr-grow">Trevland</a>

            <ul class="header__list">
                <li class="header__item">
                    <a href="#home" class="header__link hvr-underline-from-left">Home</a>
                </li>
                <li class="header__item">
                    <a href="#location" class="header__link hvr-underline-from-left">Location</a>
                </li>
                <li class="header__item">
                    <a href="#blog" class="header__link hvr-underline-from-left">Blog</a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link hvr-underline-from-left">About</a>
                </li>
                <li class="header__item">
                    <a href="#contacts" class="header__link hvr-underline-from-left">Contact</a>
                </li>
            </ul>

            <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <a href="#!" class="header__button btn">Booking now</a>
        </nav>

        <nav class="mobaile__nav">
            <a href="#home" class="mobaile__link">Home</a>
            <a href="#location" class="mobaile__link">Location</a>
            <a href="#blog" class="mobaile__link">Blog</a>
            <a href="#!" class="mobaile__link">About</a>
            <a href="#contacts" class="mobaile__link">Contact</a>
        </nav>

    </div>
</header>
