* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    // cursor: url(../images/cursor-svgrepo-com.svg), pointer; 
}

body {
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p,
strong {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: calc($container-max-width + $container-padding-x *2);
    padding: 0 $container-padding-x;
    margin-inline: auto;
}

// .text-center {
//     text-align: center;
// }
