.footer {
    padding: 70px 0;
    min-height: 348px;
    background-color: #2694990A;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: block;
        font-family: Ribeye;
        font-weight: 600;
        font-size: 1.5em;
        letter-spacing: 2px;
        color: $blackColor;
        margin-bottom: 40px;
    }

    &__contacts-desc {
        font-size: 1em;
        line-height: 160%;
        margin-bottom: 10px;
    }

    &__contacts-gmail {
        display: block;
        font-size: 1em;
        line-height: 160%;
        color: $blackColor;
        margin-bottom: 20px;
    }

    &__sosial-media {
        display: flex;
        gap: 20px;
    }

    &__sosial-media-link {
        svg {
            transition: .15s ease-in-out;
            &:hover {
                transform: scale(.90);
            }
        }
    }

    &__nav {
        display: flex;
    }

    &__links {
        display: flex;
        flex-direction: column;
    }

    &__links:not(:last-child) {
        margin-right: 123px;
    }

    &__link {
        font-size: 1em;
        font-weight: 500;
        line-height: 150%;
        color: $blackColor;
        transition: .2s ease-in-out;

        &:hover {
            color: #C9453B;
        }
    }

    &__link:not(:last-child) {
        margin-bottom: 20px;
    }
}

.subscribe-form {
    &__title {
        font-size: 1.25em;
        margin-bottom: 42px;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__input {
        width: 195px;
        min-height: 44px;
        padding-left: 20px;
        outline: none;

        &::placeholder {
            font-weight: 500;
            line-height: 150%;
            color: $blackColor;
        }
    }

    &__button {
        width: 103px;
        height: 44px;
        border-radius: 5px;
        background: rgb(201, 69, 59);
        outline: none;
        border: none;
        color: $whiteColor;
        cursor: pointer;
        transition: .1s ease-in-out;

        &:hover {
            background-color: rgb(165, 51, 43);
        }

        &:active {
            transform: translateY(.8px);
        }
    }
}

@media (max-width: 968px) {
    .footer__content {
        flex-wrap: wrap;
        gap: 30px;
    }

    .subscribe-form__input-wrapper {
        width: 100%;
    }

    .subscribe-form__input {
        width: inherit;
    }
    
    .subscribe-form__button {
        width: 100%;
    }  
}

@media (max-width: 600px) {
    .footer__content {
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer__contacts {
        order: -2;
    }

    .subscribe-form  {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: -1;
    }
}

@media (max-width: 504px) {
    .footer__content {
        justify-content: center;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__links:not(:last-child) {
        margin-right: 50px;
    }
}