/* SCSS Variables start */
$container-max-width: 1140px;
$container-padding-x: 15px;
$blackColor: #000000;
$lightBlack: #333;
$whiteColor: #fff;
$body-bg: #F8F8F8;
$assentColor: #84BE51;
$assentColor2: #002765;
$btn-color: #C9453B;
$hover-color: #C9453B;
$hover-color2: #8D3200;
$desc-assent: #1E6140;
$placeholderColor: #484848;
/* SCSS Variables end */